
<h3>{{{response}}}</h3>
<h1>{{{question}}}</h1>
<form method="post">
    <input type="number" name="userAnswer"/>
    <input type="number" name="answer" value="{{{answer}}}" style="display:none" autofocus="true"/>
    <input type="submit" style="display:none"/>
</form>
<h3></h3>